<div class="container">
  <div class="login-container">
    <h2>Reset password</h2>
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="name">Email</label>
        <input class="form-control" type="email" formControlName="email">
      </div>
      @if(message){
      <div>
        <small>Em breve recebera um email com o link para redefinir sua senha</small>
      </div>
      }
      <button class="btn btn-success" (click)="submit()">Enviar</button>
    </form>
  </div>
</div>