<div class="container">
    <div class="login-container">
        <h2>Reset password</h2>
        <form [formGroup]="form">
            <div class="mb-3">
                <label for="name">Senha</label>
                <input 
                  [ngClass]="{'is-invalid': hasError(form.get('password')) }" 
                  class="form-control"
                  formControlName="password">
                  <div class="invalid-feedback" *ngIf="hasError(form.get('password'))">
                  <p *ngIf="form.get('password')?.hasError('strongPassword')">Senha muito fraca. Inclua caracteres especiais e letras maiúsculas</p>
                  <p *ngIf="form.get('password')?.hasError('minLength')">Senha muito fraca. Inclua caracteres especiais e letras maiúsculas</p>
                  <p *ngIf="form.get('name')?.hasError('required')">Campo obrigatório</p>
                </div>
            </div>
            <div class="mb-3">
              <label for="name">Confirme a senha</label>
              <input
                [ngClass]="{'is-invalid': hasError(form.get('password_confirmation')) }" 
                class="form-control"
                formControlName="password_confirmation">
                <div class="invalid-feedback" *ngIf="hasError(form.get('password_confirmation'))">
                  <p *ngIf="form.get('password_confirmation')?.hasError('passwordMismatch')">Senhas não coincidem</p>
                </div>
            </div>
            <button class="btn btn-success" (click)="submit()">Enviar</button>
        </form>
    </div>
</div>